@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../img/abendstimmung-atmospheric-background-531872.jpg) no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: auto;
	text-align: center;
}

.content h1{
	font-family: 'Playfair Display', serif;
	color: #f9f3f4;
	font-size: 300%;
	text-shadow: 3px 3px #666;
}

.btn{
	border-radius: 3px;
	color: #E5E5E5;
	font-size: 130%;
	padding: 10px 20px;
	border: 3px solid #E5E5E5;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover{
	color: #fff;
	border: 3px solid #fff;
}

article{
	margin: 10px;
}

article p{
	display: inline-block;
	font-family: sans-serif;
	font-size: 120%;
	line-height: 190%;
}

.thumb{
	width: 15%;
	max-width: 200px;
	min-width: 100px;
	float: left;
	margin: 5px 5px 5px 0;
	padding: 10px;
}

footer{
	text-align: center;
	color: #fff;
	height: 50px;
	padding-top: 22px;

	background-color: #39CCCC;
	bottom: 0;
}
@media handheld, all and (max-width: 720px){
	.content h1{
		color: #f9f3f4;
		text-shadow: 0 0 50px #000;
		font-size: 150%;
	}
	.btn{
		font-size: 110%;
		padding: 5px 10px;
		border: 2px solid #E5E5E5;
	}

	p{
		font-family: sans-serif;
		font-size: 100%;
		line-height: 150%;
	}

	.thumb{
		width: 100%;
		display: block;
		float: none;
		margin: 10px auto;
		padding: 0;
	}
}